source /home/yuantao/catlass/examples/103_msopgen/CatlassBasicMatmul/.venv/bin/activate
source /home/yuantao/Ascend/ascend-toolkit/set_env.sh
export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:"$ASCEND_HOME_PATH/$(uname -m)-linux/devlib"